<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp delay-02s">
                    <div class="img">
                        <i class="fa fa-refresh"></i>
                    </div>
                    <h3 class="abt-hd">Shorten Urls</h3>
                    <p>Quickly shorten your urls in seconds with the click of a button, no logging or signing up needed.</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp delay-04s">
                    <div class="img">
                        <i class="fa fa-eye"></i>
                    </div>
                    <h3 class="abt-hd">Customized Urls</h3>
                    <p>As an authenticated user you are able create customized shortened Urls.</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp delay-06s">
                    <div class="img">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <h3 class="abt-hd">Tracking</h3>
                    <p>Track number of hits, locations in which your shortened urls were used and much more...</p>
                </div>
            </div>
        </div>
    </div>
</section>